<%= image_tag @pic.image.url (:medium)%>

<p>
  <strong>Title:</strong>
  <%= @pic.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @pic.url %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
